<html ng-app="tricycleApp">
	<head>
		<title>Tricycle: Programming Exercises</title>
		<script src="angular.min.js"></script>
		<script src="tricycle.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body ng-controller="ExerciseMenuCtrl">
		<div id="exercise-menu">
			<h1>Exercises</h1>
			<ul>
				<li ng-repeat="exercise in exercises">
					<a href="#" ng-click="showExercise(exercise)">
						{{exercise.title}}
					</a>
				</li>
			</ul>
		</div>
		<div id="exercise-display">
			<h1>{{current.title}}</h1>
			<p>{{current.problem}}</p>
			<p>{{current.hint}}</p>
			<form>
				<input ng-model="answer">
			</form>
			<div ng-switch on="answer === current.solution">
				<div class="answer-correct" ng-switch-when="true">
					Correct!
				</div>
				<div class="answer-incorrect" ng-switch-when="false">
					Keep trying.
				</div>
				<div ng-switch-default></div>
			</div>
		</div>
	</body>
</html>
